/* .class selector */
.classexample {
  background-color: yellow;
}
#mycustomp {
  background-color: red;
}
div * {
  font-weight: bold;
}
li {
  background-color: blue;
  color: white;
  font-weight: bolder;
}
